# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# virtualenv
.venv
venv/
ENV/
*-venv/

# vscode
.vscode/

# API key files
*secret.txt
encrypted-*.txt

# Local test files
arb_config.yaml
email_info.yaml
twilio.yaml
*_local.yaml
.pytest_cache/
scratch.py
scratch/

# Local log files
*.log
*.log.*
*.zip

# environment variables
.env

# DB Configs
configs/minute_db_info.yaml
configs/orderbook_db_info.yaml
